@using MoonCycle.Utils
@using MoonCycle.Enums

<div>
	<p>@MoonphaseUtils.GetMoonPhaseString(MoonPhase)</p>
	<MoonPhaseIcon MoonPhase="MoonPhase" />
</div>

@code {
	[Parameter]
	public MoonPhase MoonPhase { get; set; }
}
