@page "/select-date"
@using MoonCycle.Utils
@using MoonCycle.Components
@using Microsoft.Fast.Components.FluentUI

<h1>Select Date</h1>

<input type="date" @bind-value="selectedDate" />
<FluentButton Appearance="@Appearance.Accent" onclick="@HandleSubmit">Submit</FluentButton>

<MoonPhaseSummary CurrentCount="@currentCount" MoonPhase="@moonPhase" />

@code {
	private double currentCount;
	private string moonPhase = "";
	private DateTime? selectedDate = null;

	private void HandleSubmit()
	{
		if (selectedDate.HasValue)
		{
			currentCount = MoonphaseUtils.CalculateDaysSinceNewMoon(selectedDate.GetValueOrDefault());
			moonPhase = MoonphaseUtils.GetMoonPhase(currentCount);
		}
	}
}
