@page "/select-date"
@using MoonCycle.Utils
@using MoonCycle.Components
@using MoonCycle.Enums
@using Microsoft.Fast.Components.FluentUI

<h1>Select Date</h1>

<input type="date" @bind-value="selectedDate" />
<button class="btn-primary" onclick="@HandleSubmit">Submit</button>
<br />
<MoonPhaseSummary CurrentCount="@currentCount" MoonPhase="@moonPhase" />

@code {
	private double currentCount;
	private MoonPhase moonPhase = MoonPhase.UNKNOWN;
	private DateTime? selectedDate = null;

	private void HandleSubmit()
	{
		if (selectedDate.HasValue)
		{
			currentCount = MoonphaseUtils.CalculateDaysSinceNewMoon(selectedDate.GetValueOrDefault());
			moonPhase = MoonphaseUtils.GetMoonPhase(currentCount);
		}
	}
}
